<ul>
#foreach($count in [1..4])
  #foreach($nestedCount1 in [1..3])
    <li>${count}.${nestedCount1}</li>
    #foreach($nestedCount2 in [1..3])
      #if ($nestedCount2 == 2) #break($foreach.parent) #end
      <li>${count}.${nestedCount1}.${nestedCount2}</li>
    #end
  #end
  <li>${count}</li>
  #if ($count == 3) #break #end
#end
</ul>
=====================================output=====================================
<ul>
  #foreach($count in [1..4])
    #foreach($nestedCount1 in [1..3])
      <li>${count}.${nestedCount1}</li>
      #foreach($nestedCount2 in [1..3])
        #if($nestedCount2 == 2)
          #break($foreach.parent)
        #end
        <li>${count}.${nestedCount1}.${nestedCount2}</li>
      #end
    #end
    <li>${count}</li>
    #if($count == 3)
      #break
    #end
  #end
</ul>