#set($source1 = "abc")
#set($select = "1")
#set($source = "source")
#set($dynamicsource = "\$source$select")
## $dynamicsource is now the string '$source1'
#evaluate($dynamicsource)
=====================================output=====================================
#set($source1 = "abc")
#set($select = "1")
#set($source = "source")
#set($dynamicsource = "\$source$select")
## $dynamicsource is now the string '$source1'
#evaluate($dynamicsource)